$primary: $rtk-color-blue !default;
$rtk-component-brk: lg !default;
$rtk-component-height: calc(100vh - #{$rtk-toolbar-height}) !default;

.rtk-component {
    width: 100%;
    height: $rtk-component-height;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    @include rtk-breakpoint($rtk-component-brk) {
        align-items: stretch;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    &-inspector {
        position: relative;

        @include rtk-breakpoint($rtk-component-brk) {
            min-width: 390px;
            display: flex;
            flex-direction: column;
            height: $rtk-component-height;

            .handle-hidden {
                display: none;
            }

            .handle-right {
                &:hover,
                &:active {
                    &:after {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 20px;
                        top: 50%;
                        right: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 100;
                        border-left: 1px solid $rtk-toolbar-border-color;
                        border-right: 1px solid $rtk-toolbar-border-color;
                        pointer-events: none;
                    }
                }
            }
        }
    }

    &-code-wrap,
    &-demo-wrap,
    &-props-wrap {
        position: relative;
        flex-grow: 1;
        border-bottom: 1px solid $rtk-toolbar-border-color;
    }

    &-code-wrap {
        width: 100%;

        @include rtk-breakpoint($rtk-component-brk) {
            width: auto;
            flex-shrink: 1;
            border-top: none;
            border-left: 1px solid $rtk-toolbar-border-color;
            height: $rtk-component-height;
        }
    }

    &-demo {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-demo-wrap {
        flex-grow: 0;
    }

    .form-group {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        select:not([multiple]) {
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 14px;
            background-position: right 4px top 50%, 0 0;
            border-radius: 0;
            border: 1px solid $rtk-toolbar-border-color;

            &:focus {
                border: 1px solid $primary;
            }
        }

        input[type='text'] {
            padding: 6px;
            font-size: 14px;

            border-radius: 0;
            border: 1px solid $rtk-toolbar-border-color;

            &:focus {
                border: 1px solid $primary;
            }
        }
    }

    .rtk-btn-color-select {
        padding: 8px;

        &:focus,
        .expanded {
            box-shadow: 0 0 0 2px rgba($rtk-accent-color, 0.25);
            border: 1px solid $rtk-accent-color;
        }

        &-picker {
            top: calc(100% + 14px);
            width: calc(100% + 2px);
            height: calc(33vh + 4px);
            max-height: 202px;
            box-shadow: 0 0 0 2px rgba($rtk-toolbar-border-color, 0.5);

            .arrow-up {
                display: block;
            }

            &-list {
                padding: 8px;
            }

            button {
                padding: 0 6px;
                width: 100%;
                height: 24px;
                border-radius: 0;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }

        &-label {
            display: inline;
        }

        &-selected {
            [class^='btn'] {
                border-radius: 0;
            }
        }
    }

    .rtk-code {
        min-height: 100%;
    }
}

.button-demo {
    .rtk-component-demo-wrap {
        @include rtk-breakpoint($rtk-component-brk) {
            height: 220px;
        }
    }

    .rtk-component-props-wrap {
        @include rtk-breakpoint($rtk-component-brk) {
            height: calc(100vh - (220px + #{$rtk-toolbar-height}));
        }
    }
}
