$button-font-family: Arial, sans-serif !default;
$button-font-weight: 400 !default;

// color-left, color-right, color, text-shadow
$buttons: (
    'primary': (
        lighten($primary, 5%),
        $primary,
        $color-white,
        rgba($color-white, 0),
    ),
    'secondary': (
        lighten($secondary, 5%),
        $secondary,
        $color-grey-light,
        rgba($color-white, 0),
    ),
    'tertiary': (
        $tertiary,
        $tertiary,
        $color-white,
        rgba($color-white, 0),
    ),
    'danger': (
        lighten($danger, 5%),
        $danger,
        $color-white,
        rgba($color-white, 0),
    ),
    'clear': (
        rgba($color-white, 0),
        rgba($color-white, 0),
        $color-gray,
        rgba($color-white, 0),
    ),
    'info': (
        lighten($info, 5%),
        $info,
        $color-white,
        rgba($color-white, 0),
    ),
    'success': (
        lighten($success, 5%),
        $success,
        $color-white,
        rgba($color-white, 0),
    ),
    'warning': (
        lighten($warning, 15%),
        $warning,
        $color-white,
        rgba($color-white, 0),
    ),
    'default': (
        darken($default, 2%),
        darken($default, 2%),
        $color-white,
        rgba($color-white, 0),
    ),
    'error': (
        lighten($error, 5%),
        $error,
        $color-white,
        rgba($color-white, 0),
    ),
) !default;

// font-size, paddingTop, paddingRight, paddingBottom, paddingLeft
$button-sizes: (
    'xs': (
        10px,
        5px,
        16px,
        4px,
        16px,
    ),
    'sm': (
        12px,
        8px,
        24px,
        8px,
        24px,
    ),
    'md': (
        14px,
        12px,
        56px,
        12px,
        56px,
    ),
    'lg': (
        22px,
        16px,
        80px,
        16px,
        80px,
    ),
) !default;
