blockquote {
    p:first-child {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.rtk-code {
    position: relative;
    height: 100%;

    &.block {
        border: 1px solid $rtk-code-border-color;
        margin: 20px 0;
    }

    &-actions {
        position: absolute;
        top: 0;
        right: 0;

        &:empty {
            display: none;
        }
    }

    .react-codemirror2 { height: 100% };

    // Set height, width, borders, and global font properties here
    .CodeMirror {
        font-family: monospace;
        font-size: 14px;
        height: 100%;
        color: $rtk-code-text-color;
        direction: ltr;
    }

    // PADDING
    // Vertical padding around content
    .CodeMirror-lines {
        padding: 32px 0;
    }

    // Horizontal padding of content
    .CodeMirror pre {
        &.CodeMirror-line,
        &.CodeMirror-line-like {
            padding: 0 4px;
        }
    }

    .CodeMirror-scrollbar-filler,
    .CodeMirror-gutter-filler {
        background-color: transparent;
    }

    // CURSOR
    .CodeMirror-cursor {
        border-left: 1px solid $rtk-code-cursor;
        border-right: none;
        width: 0;
    }

    // Shown when moving in bi-directional text
    .CodeMirror div.CodeMirror-secondarycursor {
        border-left: 1px solid $rtk-code-border-color;
    }

    .cm-fat-cursor {
        .CodeMirror-cursor {
            width: auto;
            border: 0 !important;
            background: $rtk-code-cursor;
        }

        div.CodeMirror-cursors {
            z-index: 1;
        }
    }

    .cm-fat-cursor-mark {
        background-color: rgba($rtk-code-cursor, 0.5);
        -webkit-animation: blink 1.06s steps(1) infinite;
        -moz-animation: blink 1.06s steps(1) infinite;
        animation: blink 1.06s steps(1) infinite;
    }

    .cm-animate-fat-cursor {
        width: auto;
        border: 0;
        -webkit-animation: blink 1.06s steps(1) infinite;
        -moz-animation: blink 1.06s steps(1) infinite;
        animation: blink 1.06s steps(1) infinite;
        background-color: $rtk-code-cursor;
    }

    @-moz-keyframes blink {
        0% {
        }

        50% {
            background-color: transparent;
        }

        100% {
        }
    }

    @-webkit-keyframes blink {
        0% {
        }

        50% {
            background-color: transparent;
        }

        100% {
        }
    }

    @keyframes blink {
        0% {
        }

        50% {
            background-color: transparent;
        }

        100% {
        }
    }

    .CodeMirror-overwrite .CodeMirror-cursor {
    }

    .cm-tab {
        display: inline-block;
        text-decoration: inherit;
    }

    .CodeMirror-rulers {
        position: absolute;
        left: 0;
        right: 0;
        top: -50px;
        bottom: 0;
        overflow: hidden;
    }

    .CodeMirror-ruler {
        border-left: 1px solid $rtk-code-border-color;
        top: 0;
        bottom: 0;
        position: absolute;
    }

    // THEME
    .cm-s-default {
        .cm-header {
            color: $rtk-accent-color;
        }

        .cm-quote {
            color: $rtk-code-quote;
        }
    }

    .cm-negative {
        color: $rtk-code-negative;
    }

    .cm-positive {
        color: $rtk-code-quote;
    }

    .cm-header,
    .cm-strong {
        font-weight: bold;
    }

    .cm-em {
        font-style: italic;
    }

    .cm-link {
        text-decoration: underline;
    }

    .cm-strikethrough {
        text-decoration: line-through;
    }

    .cm-s-default {
        .cm-keyword {
            color: $rtk-code-keyword;
        }

        .cm-atom {
            color: $rtk-code-atom;
        }

        .cm-number {
            color: $rtk-code-number;
        }

        .cm-def {
            color: $rtk-code-def;
        }

        .cm-variable,
        .cm-property {
            color: $rtk-code-var-1;
        }

        .cm-operator,
        .cm-punctuation {
            color: $rtk-code-operator;
        }

        .cm-variable-2 {
            color: $rtk-code-var-2;
        }

        .cm-variable-3,
        .cm-type {
            color: $rtk-code-var-3;
        }

        .cm-comment {
            color: $rtk-code-comment;
        }

        .cm-string {
            color: $rtk-code-string-1;
        }

        .cm-string-2 {
            color: $rtk-code-string-2;
        }

        .cm-meta,
        .cm-qualifier {
            color: $rtk-code-meta;
        }

        .cm-builtin {
            color: $rtk-code-builtin;
        }

        .cm-bracket {
            color: $rtk-code-bracket;
        }

        .cm-tag {
            color: $rtk-code-tag;
        }

        .cm-attribute {
            color: $rtk-code-attribute;
        }

        .cm-hr {
            color: $rtk-code-hr;
        }

        .cm-link {
            color: $rtk-code-link;
        }

        .cm-error {
            color: $rtk-code-error;
        }
    }

    .cm-invalidchar {
        color: $rtk-code-error;
    }

    .CodeMirror-composing {
        border-bottom: 2px solid;
    }

    div.CodeMirror span {
        &.CodeMirror-matchingbracket {
            color: $rtk-code-bracket;
        }

        &.CodeMirror-nonmatchingbracket {
            color: $rtk-code-error;
        }
    }

    .CodeMirror-matchingtag {
        background: rgba($rtk-code-tag, 0.3);
    }

    .CodeMirror-activeline-background {
        background: $rtk-code-active;
    }

    // GUTTER
    .CodeMirror-gutters {
        background-color: $rtk-code-gutter-bg-color;
        white-space: nowrap;
    }

    .CodeMirror-linenumbers {
        margin-right: 6px;
        border-right: 1px solid $rtk-code-border-color;
    }

    .CodeMirror-linenumber {
        padding: 0 5px 0 5px;
        min-width: 20px;
        text-align: right;
        color: $rtk-code-linenumber-color;
        white-space: nowrap;
    }

    .CodeMirror-guttermarker {
        color: $rtk-code-linenumber-color;
    }

    .CodeMirror-guttermarker-subtle {
        color: $rtk-code-linenumber-color;
    }

    // FOLD
    .CodeMirror-foldmarker {
        color: $rtk-code-fold-marker;
        font-family: arial;
        line-height: 0.3;
        cursor: pointer;

        svg {
            fill: $rtk-code-fold-marker;
            width: 14px;
            height: 14px;
        }
    }

    .CodeMirror-foldgutter {
        width: 20px;
    }

    .CodeMirror-foldgutter-open,
    .CodeMirror-foldgutter-folded {
        cursor: pointer;
    }

    .CodeMirror-foldgutter-open:after {
        content: '\25BE';
        padding-right: 4px;
        z-index: 100;
    }

    .CodeMirror-foldgutter-folded:after {
        content: '\25B8';
        padding-right: 4px;
        z-index: 100;
    }

    // STOP

    .CodeMirror {
        position: relative;
        overflow: hidden;
        background: white;
    }

    .CodeMirror-scroll {
        overflow: scroll !important;
        margin-bottom: -50px;
        margin-right: -50px;
        padding-bottom: 50px;
        height: 100%;
        outline: none;

        position: relative;
    }

    .CodeMirror-sizer {
        position: relative;
        border-right: 50px solid transparent;
    }

    .CodeMirror-vscrollbar,
    .CodeMirror-hscrollbar,
    .CodeMirror-scrollbar-filler,
    .CodeMirror-gutter-filler {
        position: absolute;
        z-index: 6;
        display: none;
        outline: none;
    }

    .CodeMirror-vscrollbar {
        right: 0;
        top: 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .CodeMirror-hscrollbar {
        bottom: 0;
        left: 0;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .CodeMirror-scrollbar-filler {
        right: 0;
        bottom: 0;
    }

    .CodeMirror-gutter-filler {
        left: 0;
        bottom: 0;
    }

    .CodeMirror-gutters {
        position: absolute;
        left: 0;
        top: 0;
        min-height: 100%;
        z-index: 3;
    }

    .CodeMirror-gutter {
        white-space: normal;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: -50px;
    }

    .CodeMirror-gutter-wrapper {
        position: absolute;
        z-index: 4;
        background: none !important;
        border: none !important;
    }

    .CodeMirror-gutter-background {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 4;
    }

    .CodeMirror-gutter-elt {
        position: absolute;
        cursor: default;
        z-index: 4;
    }

    .CodeMirror-gutter-wrapper {
        ::selection,
        ::-moz-selection {
            background-color: transparent;
        }
    }

    .CodeMirror-lines {
        cursor: text;
        min-height: 1px;
    }

    .CodeMirror pre {
        &.CodeMirror-line,
        &.CodeMirror-line-like {
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            border-width: 0;
            background: transparent;
            font-family: inherit;
            font-size: inherit;
            margin: 0;
            white-space: pre;
            word-wrap: normal;
            line-height: inherit;
            color: inherit;
            z-index: 2;
            position: relative;
            overflow: visible;
            -webkit-tap-highlight-color: transparent;
            -webkit-font-variant-ligatures: contextual;
            font-variant-ligatures: contextual;
        }
    }

    .CodeMirror-wrap pre {
        &.CodeMirror-line,
        &.CodeMirror-line-like {
            word-wrap: break-word;
            white-space: pre-wrap;
            word-break: normal;
        }
    }

    .CodeMirror-linebackground {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
    }

    .CodeMirror-linewidget {
        position: relative;
        z-index: 2;
        padding: 0.1px;
    }

    .CodeMirror-widget {
    }

    .CodeMirror-rtl pre {
        direction: rtl;
    }

    .CodeMirror-code {
        outline: none;
    }

    .CodeMirror-scroll,
    .CodeMirror-sizer,
    .CodeMirror-gutter,
    .CodeMirror-gutters,
    .CodeMirror-linenumber {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .CodeMirror-measure {
        position: absolute;
        width: 100%;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    .CodeMirror-cursor {
        position: absolute;
        pointer-events: none;
    }

    .CodeMirror-measure pre {
        position: static;
    }

    div {
        &.CodeMirror-cursors {
            visibility: hidden;
            position: relative;
            z-index: 3;
        }

        &.CodeMirror-dragcursors {
            visibility: visible;
        }
    }

    .CodeMirror-focused div.CodeMirror-cursors {
        visibility: visible;
    }

    .CodeMirror-selected {
        background: #d9d9d9;
    }

    .CodeMirror-focused .CodeMirror-selected {
        background: #d7d4f0;
    }

    .CodeMirror-crosshair {
        cursor: crosshair;
    }

    .CodeMirror-line {
        &::selection {
            background: #d7d4f0;
        }

        > span {
            &::selection,
            > span::selection {
                background: #d7d4f0;
            }
        }

        &::-moz-selection {
            background: #d7d4f0;
        }

        > span {
            &::-moz-selection,
            > span::-moz-selection {
                background: #d7d4f0;
            }
        }
    }

    .cm-searching {
        background-color: #ffa;
        background-color: rgba(255, 255, 0, 0.4);
    }

    .cm-force-border {
        padding-right: 0.1px;
    }

    @media print {
        .CodeMirror div.CodeMirror-cursors {
            visibility: hidden;
        }
    }

    .cm-tab-wrap-hack:after {
        content: '';
    }

    span.CodeMirror-selectedtext {
        background: none;
    }
}
