# {{name}}

---

Some documentation

Some **bold**, _italic_, ~~strike~~, and `code` text

```
import React from 'react';

const MyComponent = () => (
    <div>
    <Button>
        Test
    </Button>
    </div>
);
```

> Block quote
