.rtk-content {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    color: $rtk-content-text-color;
    background-color: $rtk-content-bg-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &-zone {
        display: block;
        width: 100%;
        height: calc(100vh - #{$rtk-toolbar-height});
        overflow: auto;
        flex-grow: 1;
    }

    &-sidebar-toggle {
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 100vh;
        z-index: 100;
        user-select: none;

        &:hover {
            cursor: pointer;
        }

        &:after {
            top: 50%;
            left: 50%;
            width: 4px;
            height: 16px;
            content: '';
            z-index: 101;
            position: absolute;
            transform: translate(-50%, -50%);
            border-left: 1px solid darken($rtk-sidebar-border-color, 10%);
            border-right: 1px solid darken($rtk-sidebar-border-color, 10%);
        }
    }
}

.rtk-meta-info {
    font-size: 10px;
    white-space: nowrap;

    @include rtk-breakpoint(md) {
        font-size: 11px;
    }
}
